<label for="{{{id}}}">{{{label}}}:</label>
<select name="{{{name}}}" id="{{{id}}}" class="form-control">
{{#each items as |item|}}
    <option{{#if item.value}} value="{{{item.value}}}"{{/if}}{{#if item.checked}} selected="selected"{{/if}}>{{{item.label}}}</option>
{{/each}}
</select>
{{#if description}}
<div class="text-small">{{{description}}}</div>
{{/if}}