<label for="{{{id}}}" class="form-control-label form-control-label-{{{type}}} form-control-label-{{{id}}}">{{{label}}}:{{#if required}} <span class="required-control">*</span>{{/if}}</label>
<textarea name="{{{name}}}" id="{{{id}}}" class="form-control" cols="30" rows="10">{{{value}}}</textarea>